@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #5C56E1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8B5CF6;
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87;
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
}

.header__gen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__gen .logo-wrapper{
    display: flex;
    gap: 18px;
    align-items: center;
    color: #09090E;
}

.header__gen .logo-wrapper .gen__logo{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gradient);
    border-radius: 50%;
    font-size: 1.35rem;
    flex-shrink: 0;
}

.header__gen .logo-wrapper h1{
    font-size: 1.4rem;
    font-weight: 500;
}

.header__gen .create-btn{
    display: flex;
    gap: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    padding: 12px 12px;
    border: none;
    color: #FFFFFF;
    background: var(--color-gradient);
    /* width: 25%; */
    margin-left: auto;
}

a{
    text-decoration: none;
}

.header__gen .create-btn:hover{
    /* color: var(--color-primary); */
    transform: translateY(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.api-key-container{
    width: 100%;
    min-width: 450px;
    min-height: 120px;
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
    /* box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2); */
    margin-top: 20px;
    border: 1px solid #cecece;
    overflow: auto;
}