/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --primary-color: #2356FF;
    --secondary-color: #7657FF;
    --light-secondary-color: #8DA7FC;
    --gray-bg-color: #F9F9F9;
    --gray-border-color: #DDDDDD;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  height: 100vh;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LAYOUT ===============*/
.image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 1rem;
}

.header__container {
  width: 100%;
  height: var(--header-height);
  background-color: hsla(0, 0%, 0%, .2);
  backdrop-filter: blur(16px);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--white-color);
  font-weight: 500;
}

.header__logo i {
  font-size: 1.5rem;
}

.header__toggle {
  width: 32px;
  height: 32px;
  border-radius: .5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, .2);
  color: var(--white-color);
  cursor: pointer;
}

/*=============== SIDEBAR ===============*/
nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -120%;
  bottom: 0;
  width: 232px;
  background-color: hsla(0, 0%, 0%, .2);
  backdrop-filter: blur(16px);
  z-index: 100;
  padding: 1rem 1rem 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  transition: left .4s;

  height: 100%;
}

.sidebar__container {
  /* display: flex;
  flex-direction: column; */
  /* border: sienna solid; */
  /* height: 100%; */
}

.sidebar__logo {
  display: flex;
  align-items: center;
  column-gap: .75rem;
  color: var(--white-color);
  padding: 0 0 1rem .5rem;
  font-weight: 500;
  border-bottom: 1px solid hsla(0, 0%, 100%, .3);
}

.sidebar__logo i {
  font-size: 1.5rem;
}

.sidebar__content {
  display: grid;
  row-gap: .5rem;
  padding-top: 1.5rem;
}

.sidebar__link {
  display: flex;
  align-items: center;
  column-gap: .75rem;
  color: var(--white-color);
  padding: .5rem;
  border-radius: .5rem;
  transition: background-color .4s;
}

.sidebar__link i {
  font-size: 1.25rem;
}

.sidebar__link span {
  font-weight: 500;
}

.sidebar__link:hover {
  background-color: hsla(0, 0%, 0%, .2);
}

.sidebar__footer {
  /* margin-top: 20px; */
  margin-bottom: 10px;
  /* border: solid gold; */
}

/* Show sidebar */
.show-sidebar {
  left: 0;
}

/*=============== DROPDOWN ===============*/
.drop__button {
  width: 100%;
  flex-direction: row;
  border: none;
  outline: none;
  background: none;
  font: 500 var(--normal-font-size) var(--body-font);
  cursor: pointer;
}

.drop__arrow {
  margin-left: auto;
  transition: transform .4s;
}

.drop__list {
  display: grid;
  row-gap: .25rem;
  height: 0;
  overflow: hidden;
  transition: height .4s;
}

.drop__item {
  position: relative;
  display: block;
  color: var(--white-color);
  padding: .5rem .5rem .5rem 2.25rem;
  border-radius: .5rem;
  transition: background-color .4s;
}

.drop__item::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--white-color);
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
}

.drop__item:hover {
  background-color: hsla(0, 0%, 0%, .2);
}

/* Rotate drop icon */
.show-drop .drop__arrow {
  transform: rotate(-180deg);
}

/*=============== MAIN ===============*/
.main {
    /* width: 100%; */
    height: calc(100dvh - var(--header-height));
    display: flex;
    align-items: center;
    justify-content: center;
  padding-top: 5rem;
  /* margin-inline: 1.5rem; */
  /* color: var(--white-color); */
}

.container {
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: min(100%, 800px);
    height: fit-content;
    max-height: 100%;
    overflow: auto;
}

.title{
    display: flex;
    gap: 18px;
    align-items: center;
}

.title__icon{
    /* font-size: 3rem; */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px; */
    fill: white;
    width: 45px;
    height: 45px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px var(--light-secondary-color);
}

.title__text{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

/*  FORM CONTAINER */

.btn{
    /* margin-top: 16px; */
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border: none;
    fill: white;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(35, 86, 255, 0.3);
    border: solid 2px var(--gray-border-color);
    outline: solid 3px transparent;
    transition: 200ms ease-in;
}

.form-container{
    /* border: solid blue; */
    width: 100%;
}

.form-container__url-input{
    background: var(--gray-bg-color);
    border: 1.5px solid var(--gray-border-color);
    font-size: 1rem;
    padding: 18px 10px;
    width: 100%;
    outline: solid 3px transparent;
    transition: 150ms ease-in;
}

.form-container__url-input:focus{
    outline: solid 3px var(--light-secondary-color);
}

.form-container__actions{
  margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
}

.form-container__dropdown{
    font-size: 1rem;
    border-radius: 8px;
    padding: 12px 20px;
    background: var(--gray-bg-color);
    border: solid 2px var(--gray-border-color);
    outline: solid 3px transparent;
    transition: 300ms ease-in;
}

.form-container__dropdown:focus{ 
    outline: solid 3px var(--light-secondary-color);
}

/*  EXTRACTION CONTAINER */
.extraction-container{
    /* border: solid red; */
    width: 100%;
    display: none;
}

.extraction-container.show{
    display: block;
}

.extraction-container__timestamps-result{
  width: 100%;
  /* border: solid blue; */
  margin-top: 12px;
  display: flex;
  gap: 8px;
  /* flex-wrap: wrap; */
}

.image-container{
  flex: 1;
  border: 1px var(--gray-border-color) solid;
  background-color: var(--gray-bg-color);
  /* border: solid red; */
  display: flex;
  flex-direction: column;
}

.timestamps-container{
  flex: 1;
  border: 1px var(--gray-border-color) solid;
  background-color: var(--gray-bg-color);
  /* border: solid green; */
  max-height: 350px;
  overflow: auto;
  /* height: 300px; */
}

.image-container__image-result{
  width: 100%;
  /* border: solid green; */
  display: none;
  /* max-height: 300px; */
  overflow: hidden;
  /* height: 300px; */
  height: 100%;
}

.image-container__image-result-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
}

.image-container__image-result.show{
  height: 100%;
  display: block;
}

.image-container__loading-container{
  width: 100%;
  /* border: solid yellow; */
  justify-content: center;
  align-items: center;
  display: none;
}

.image-container__loading-container.show{
  display: flex;
  height: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image-container__loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #ff6600;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px;
}

.image-container__error-message{
  width: 100%;
  /* border: solid orange; */
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1.2rem;
  font-weight: 600; */
  color: red;
  text-align: center;
}

.image-container__error-message.show{
  display: flex;
  height: 100%;
  border: 1px red;
}

.extraction-container__actions{
    margin-top: 12px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 8px;
    display: none;
}

.extraction-container__actions.show{
    display: grid;
}

.extraction-container__actions.disabled button{
    pointer-events: none;
    opacity: 0.6;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .header {
    margin-inline: .5rem;
  }

  .sidebar {
    width: 200px;
    margin-inline: .5rem;
  }
}

@media screen and (max-width: 568px) {
  .extraction-container__timestamps-result{
      flex-direction: column;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .header {
    margin: 1.5rem;
    padding-left: 274px;
    transition: padding .4s;
  }
  .header__container {
    height: calc(var(--header-height) + 2rem);
    padding-inline: 1.5rem;
  }
  .header__toggle {
    display: none;
  }

  .sidebar {
    left: 0;
    width: 250px;
    margin: 1.5rem;
    padding: 2rem 1.5rem;
  }

  .main {
    padding-left: 274px;
    padding-top: 8rem;
    transition: padding .4s;
  }
}
