/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --primary-color: #2356FF;
    --secondary-color: #7657FF;
    --light-secondary-color: #8DA7FC;
    --gray-bg-color: #F9F9F9;
    --gray-border-color: #DDDDDD;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;

    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  height: 100vh;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LAYOUT ===============*/
.image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 1rem;
}

.header__container {
  width: 100%;
  height: var(--header-height);
  background-color: hsla(0, 0%, 0%, .2);
  backdrop-filter: blur(16px);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--white-color);
  font-weight: 500;
}

.header__logo i {
  font-size: 1.5rem;
}

.header__toggle {
  width: 32px;
  height: 32px;
  border-radius: .5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: hsla(0, 0%, 0%, .2);
  color: var(--white-color);
  cursor: pointer;
}

/*=============== SIDEBAR ===============*/
nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -120%;
  bottom: 0;
  width: 232px;
  background-color: hsla(0, 0%, 0%, .2);
  backdrop-filter: blur(16px);
  z-index: 100;
  padding: 1rem 1rem 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  transition: left .4s;

  height: 100%;
}

.sidebar__container {
  /* display: flex;
  flex-direction: column; */
  /* border: sienna solid; */
  /* height: 100%; */
}

.sidebar__logo {
  display: flex;
  align-items: center;
  column-gap: .75rem;
  color: var(--white-color);
  padding: 0 0 1rem .5rem;
  font-weight: 500;
  border-bottom: 1px solid hsla(0, 0%, 100%, .3);
}

.sidebar__logo i {
  font-size: 1.5rem;
}

.sidebar__content {
  display: grid;
  row-gap: .5rem;
  padding-top: 1.5rem;
}

.sidebar__link {
  display: flex;
  align-items: center;
  column-gap: .75rem;
  color: var(--white-color);
  padding: .5rem;
  border-radius: .5rem;
  transition: background-color .4s;
}

.sidebar__link i {
  font-size: 1.25rem;
}

.sidebar__link span {
  font-weight: 500;
}

.sidebar__link:hover {
  background-color: hsla(0, 0%, 0%, .2);
}

.sidebar__footer {
  /* margin-top: 20px; */
  margin-bottom: 10px;
  /* border: solid gold; */
}

/* Show sidebar */
.show-sidebar {
  left: 0;
}

/*=============== DROPDOWN ===============*/
.drop__button {
  width: 100%;
  flex-direction: row;
  border: none;
  outline: none;
  background: none;
  font: 500 var(--normal-font-size) var(--body-font);
  cursor: pointer;
}

.drop__arrow {
  margin-left: auto;
  transition: transform .4s;
}

.drop__list {
  display: grid;
  row-gap: .25rem;
  height: 0;
  overflow: hidden;
  transition: height .4s;
}

.drop__item {
  position: relative;
  display: block;
  color: var(--white-color);
  padding: .5rem .5rem .5rem 2.25rem;
  border-radius: .5rem;
  transition: background-color .4s;
}

.drop__item::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--white-color);
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
}

.drop__item:hover {
  background-color: hsla(0, 0%, 0%, .2);
}

/* Rotate drop icon */
.show-drop .drop__arrow {
  transform: rotate(-180deg);
}

/*=============== MAIN ===============*/
.main {
    /* width: 100%; */
    height: calc(100dvh - var(--header-height));
    display: flex;
    align-items: start;
    justify-content: center;
  padding-top: 5rem;
  /* margin-inline: 1.5rem; */
  /* color: var(--white-color); */
}

.container {
    background: white;
    /* background-color: hsla(0, 0%, 0%, .2);
  backdrop-filter: blur(16px); */
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: min(1200px, 90%);
    height: 100%;
    overflow-y: auto;
    /* max-width: 1200px; */
}

.dashboard .dashboard-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
    /* border: solid red; */
}

.dashboard .dashboard-header .left h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.dashboard .dashboard-header .left .breadcrumb{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.dashboard .dashboard-header .left .breadcrumb li{
    color: var(--dark);
}

.dashboard .dashboard-header .left .breadcrumb li a{
    color: var(--dark-grey);
    pointer-events: none;
}

.dashboard .dashboard-header .left .breadcrumb li a.dashboard-active{
    color: var(--primary);
    pointer-events: none;
}

.dashboard .report{
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 500;
}

.dashboard .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.dashboard .insights li{
    padding: 24px;
    background: var(--light);
    /* background-color: hsla(0, 0%, 0%, .2);
  backdrop-filter: blur(16px); */
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.dashboard .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.dashboard .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.dashboard .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.dashboard .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.dashboard .insights li .info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.dashboard .insights li .info p{
    color: var(--dark);
}

.dashboard .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}

.dashboard .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.dashboard .bottom-data .synthesis-header{
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.dashboard .bottom-data .synthesis-header h3{
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.dashboard .bottom-data .synthesis-header .bx{
    cursor: pointer;
}

.dashboard .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
    overflow: auto;
    max-height: 600px;
}

.dashboard .bottom-data .orders table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-wrap: nowrap;
    
}

.dashboard .bottom-data .orders table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.dashboard .bottom-data .orders table td{
    padding: 16px 12px;
}

.dashboard .bottom-data .orders table th{
  padding: 16px 12px;
}

.dashboard .bottom-data .orders table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.dashboard .bottom-data .orders table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.dashboard .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.dashboard .bottom-data .orders table tbody tr:hover{
    background: var(--grey);
}

table tbody tr td.actions{
  display: flex;
  gap: 12px;
}

table tbody tr td.actions i{
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

table tbody tr td.actions i.delete{
    color: #d25119;
    border-color: #d25119;
}

table tbody tr td.actions i.edit{
    color: #1d92f1;
    border-color: #1d92f1;
}

table tbody tr td.actions i.view{
    color: #1976d2;
    border-color: #1976d2;
}

.dashboard .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.dashboard .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.dashboard .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.dashboard .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

.bottom-data .reminders{
    flex-grow: 1;
    flex-basis: 300px;
    /* border: solid blue; */
}

.reminders .credits{
  border: solid 1px var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: white; */
  gap: 1rem;
  text-wrap: nowrap;
  overflow: auto;

    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.reminders .credits .credits-data{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reminders .credits .credits-data .bx.low{
    background: var(--light-primary);
    color: var(--primary);
}

.reminders .credits .credits-data .bx.medium{
    background: var(--light-warning);
    color: var(--warning);
}

.reminders .credits .credits-data .bx{
    background: var(--light-success);
    color: var(--success);
}

.reminders .credits .credits-data .bx.high{
    background: var(--light-danger);
    color: var(--danger);
}

.reminders .credits .credits-data .bx{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reminders .credits .credits-data .credits__info h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

.progress{
    display: flex;
    justify-content: center;
}

.progress .progress-bar{
    width: 150px;
    height: 150px;
    background: radial-gradient(closest-side, var(--light) 79%, transparent 80% 100%), conic-gradient(#1976d2 25%, #e9e4ff 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 20px;
    border-radius: 50%;
}

.progress .progress-bar::before{
    content: "25%";
    font-size: 22px;
    font-weight: bold;
}

.progress .progress-bar::after{
    content: "used";
    font-size: 13px;
    color: #999;
}

.reminders .purchase-credits{
  /* border: solid yellow; */
  width: 100%;
}

.credits-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reminders .purchase-credits button{
    border: none;
    background: #1976d2;
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    padding: 14px;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
     width: 100%;
}

.reminders .purchase-credits button:hover{
    background: #0d47a1;
}

.purchase-credits{
    width: 100%;
    overflow: auto;
    max-height: 200px;
    border: solid 1px var(--dark-grey);
    margin-top: 24px;
    padding: 24px;
    border-radius: 10px;
}

.purchase-credits table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-wrap: nowrap;
    
}

.purchase-credits table th{
    padding-bottom: 12px;
    font-size: 13px;
    text-align: left;
    border-bottom: 1px solid var(--grey);
}

.purchase-credits table td{
    padding: 16px 12px;
}

.purchase-credits table th{
  padding: 16px 12px;
}

.purchase-credits table tr td:first-child{
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}

.purchase-credits table td img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.purchase-credits table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.purchase-credits table tbody tr:hover{
    background: var(--grey);
}

table tbody tr td.actions{
  display: flex;
  gap: 12px;
}

table tbody tr td.actions i{
    font-size: 16px;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

table tbody tr td.actions i.delete{
    color: #d25119;
    border-color: #d25119;
}

table tbody tr td.actions i.edit{
    color: #1d92f1;
    border-color: #1d92f1;
}

table tbody tr td.actions i.view{
    color: #1976d2;
    border-color: #1976d2;
}

.purchase-credits table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.purchase-credits table tr td .status.completed{
    background: var(--success);
}

.purchase-credits table tr td .status.process{
    background: var(--primary);
}

.purchase-credits table tr td .status.pending{
    background: var(--warning);
}

.delete-speech-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.delete-speech-modal.show{
    display: flex;
}

.modal__content{
  position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: min(400px, 90%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.modal__close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.modal__actions{
    display: flex;
    gap: 8px;
}

.btn{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border: none;
    fill: white;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    /* width: 100%; */
    justify-content: center;
    padding: 12px 20px; 
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .header {
    margin-inline: .5rem;
  }

  .sidebar {
    width: 200px;
    margin-inline: .5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .header {
    margin: 1.5rem;
    padding-left: 274px;
    transition: padding .4s;
  }
  .header__container {
    height: calc(var(--header-height) + 2rem);
    padding-inline: 1.5rem;
  }
  .header__toggle {
    display: none;
  }

  .sidebar {
    left: 0;
    width: 250px;
    margin: 1.5rem;
    padding: 2rem 1.5rem;
  }

  .main {
    padding-left: 274px;
    padding-top: 8rem;
    transition: padding .4s;
  }
}
