{%extends "_base.html" %} 

    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', path='css/extract.css') }}">
    {% endblock %}

{%block content%}

<!-- TITLE -->
<h1 class="title">
    <box-icon class="title__icon" type='solid' name='magic-wand'></box-icon>
    <span class="title__text">AI Image Generator</span>
</h1>

<div class="form-and-extraction">

    <!-- FORM CONTAINER -->
    <section class="form-container">
        <!-- URL INPUT -->
        <input type="url" name="url" id="url" class="form-container__url-input" placeholder="Enter video URL here..." required>

        <div class="form-container__actions">
            <!-- DROPDOWN RATIO -->
            <select class="form-container__dropdown" id="dropdownRatio">
                <option value="1:1">1:1</option>
                <option value="16:9">16:9</option>
                <option value="9:16">9:16</option>
            </select>

            <!-- GENERATE IMAGE BUTTON -->
            <button class="form-container__button btn" onclick="generateImage()">
            <!-- <i class="ri-shield-flash-line title__icon"></i> -->
            Extract Timestamps
            </button>

        </div>
    </section>

    <!-- EXTRACTED TIMESTAMPS CONTAINER -->
    <section class="extraction-container show">


        <!-- EXTRACTED TIMESTAMPS RESULT -->
        <div class="extraction-container__timestamps-result">

            <section class="image-container" id="imageContainer">

            <!-- IMAGE RESULT -->
            <div class="image-container__image-result show">
                <img class="image-container__image-result-image" id="imageResult" src="{{ url_for('static', path='img/example.jpeg') }}">
            </div>

            <div class="image-container__loading-container">
                <div class="image-container__loading-spinner"></div>
            </div>

            <!-- ERROR MESSAGE -->
            <div class="image-container__error-message" id="errorMessage">
                <box-icon type='solid' name='error-circle'></box-icon>
                <span class="image-container__error-text" id="errorText">
                    The YouTube video was not found.
                </span>                           
            </div>

            </section>

            <section class="timestamps-container" id="timestampsContainer">
            <div class="image-container__loading-container">
                <div class="image-container__loading-spinner"></div>
            </div>
            </section>

        </div>

        <!-- EXTRACTION ACTIONS-->
        <div class="extraction-container__actions">
            <button class="extraction-container__copy-button btn" onclick="copyTimestamps()">
            <i class="ri-copy-line"></i>
            Copy Timestamps
            </button>
            <button class="extraction-container__download-button btn" onclick="downloadTimestamps()">
            <i class="ri-download-line"></i>
            Download Timestamps
            </button>
        </div>

    </section>

</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', path='js/extract.js') }}"></script>
{% endblock %}