:root {
  --first-color: #12192C;
  --second-color: #F5A623;
  --white-color: #EDEDED;
  --primary-color: #2356FF;
  --secondary-color: #7657FF;
  --light-secondary-color: #8DA7FC;
  --gray-bg-color: #F9F9F9;
  --gray-border-color: #DDDDDD;

  --color-primary: #5C56E1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8B5CF6; 
  --color-card: #FFFFFF;
  --color-input: #F1F1FF;
  --color-text: #09090E;
  --color-placeholder: #5C5A87; 
  --color-border: #D4D4ED;
  --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: auto 10px;
    background-color: hsl(209, 34%, 54%);
}

.container{
    width: min(100%, 600px);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container form input{
    display: none;
}

.container form .category{
    margin-top: 10px;
    padding-top: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.category label{
    /* width: 100%; */
    /* height: 65px; */
    height: 145px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

/* label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
} */


#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#mpesa:checked ~ .category .mpesaMethod{
    box-shadow: 0px 0px 0px 1px #6064b6;
}


#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#mpesa:checked ~ .category .mpesaMethod .check{
    display: block;
}


label .imgName{
    display: flex;
    /* justify-content: space-between;
     */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.imgName span{
    /* margin-left: 20px; */
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}

img{
    width: 50px;
    height: auto;
}

.visa img{
    width: 80px;
    /* margin-left: 5px; */
}

.mastercard img{
    width: 65px;
}

.paypal img{
    width: 80px;
}

.mpesa img{
    width: 50px;
}

.check{
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.check i{
    font-size: 18px;
}

.form-action{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.btn{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border: none;
    fill: white;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    /* width: 100%; */
    justify-content: center;
    padding: 12px 20px; 
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    min-width: 200px;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.payment-error-modal.show{
    display: flex;
}

.password.error{
    border-color: red;
}

.modal .modal__content{
  position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: min(400px, 90%);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.modal .modal__close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

.modal .modal__actions{
    display: flex;
    gap: 8px;
    width: 100%;
}

.modal .btn{
    background: var(--first-color);
    /* background: var(--primary-color); */
    /* background: linear-gradient(to right, var(--primary-color), var(--secondary-color)); */
    /* border: none; */
    /* fill: white; */
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
    padding: 12px 20px; 
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

@media screen  and (max-width: 600px) {
    .container{
        box-shadow: unset;
    }
    .btn{
        min-width: unset;
    }
}