{%extends "_base.html" %} 

{% block styles %}
    {{ super() }} {# This includes the CSS from the parent's 'styles' block #}
    <link rel="stylesheet" href="{{ url_for('static', path='css/extractor.css') }}">
{% endblock %}

{%block content%}

<div class="main-content">

   <form action="/extract" method="post" class="extract-form" id="extract-form">
      <input
         type="text"
         placeholder="Enter the video url"
         id="inp-word"
         name="videourl"
      />
      <button id="extract-btn" type="submit" class="extract-btn">Extract</button>
   </form>


   <div class="result" id="result"></div>

</div>

{% endblock %}

{% block scripts %}
        {{ super() }} {# Optional: to include scripts from the parent block if any #}
        <script src="{{ url_for('static', path='js/extractor.js') }}"></script>
{% endblock %}